<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div id="app">
        <div class="container">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">新增產品</button>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>產品名稱</th>
                        <th width="120">
                            原價
                        </th>
                        <th width="120">
                            售價
                        </th>
                        <th width="150">
                            是否啟用
                        </th>
                        <th width="120">
                            刪除
                        </th>
                    </tr>
                </thead>
                <tbody id="productList">
                    <tr v-for="item in products" key="item.id">
                        <td>
                            {{item.title}}
                        </td>
                        <td width="120">
                            {{item.origin_price}}
                        </td>
                        <td width="120">
                            {{item.price}}
                        </td>
                        <td width="100">
                            <span class="">{{item.is_enabled ? "啟用" : "未啟用"}}</span>
                        </td>
                        <td width="120">
                            <button type="button" class="btn btn-sm btn-outline-danger move deleteBtn"
                                @click="setDeleteProduct(item)" data-bs-toggle="modal"
                                data-bs-target="#delProductModal"> 刪除 </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <p>目前有 {{products.length}} 項產品</p>
                <pages :page="page" @goto-page="gotoPage"></pages>
            </div>
        </div>

        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content border-0">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <span>新增產品</span>
                        </h5>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="imageUrl">輸入圖片網址</label>
                                    <input type="text" class="form-control" id="imageUrl" placeholder="請輸入圖片連結"
                                        v-model="createProduct.imageUrl">
                                </div>
                                <div class="form-group">
                                    <label for="customFile">或 上傳圖片
                                        <i class="fas fa-spinner fa-spin"></i>
                                    </label>
                                    <input type="file" class="form-control" ref="files" id="customFile">
                                </div>
                                <img :src="createProduct.imageUrl" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="title">標題</label>
                                    <input type="text" class="form-control" id="title" placeholder="請輸入標題"
                                        v-model="createProduct.title">
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="category">分類</label>
                                        <input type="text" class="form-control" id="category" placeholder="請輸入分類"
                                            v-model="createProduct.category">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="price">單位</label>
                                        <input type="unit" class="form-control" id="price" placeholder="請輸入單位"
                                            v-model="createProduct.unit">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="origin_price">原價</label>
                                        <input type="number" class="form-control" id="origin_price" placeholder="請輸入原價"
                                            v-model="createProduct.origin_price">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="price">售價</label>
                                        <input type="number" class="form-control" id="price" placeholder="請輸入售價"
                                            v-model="createProduct.price">
                                    </div>
                                </div>
                                <hr>

                                <div class="form-group">
                                    <label for="description">產品描述</label>
                                    <textarea type="text" class="form-control" id="description" placeholder="請輸入產品描述"
                                        v-model="createProduct.description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="content">說明內容</label>
                                    <textarea type="text" class="form-control" id="content" placeholder="請輸入產品說明內容"
                                        v-model="createProduct.content"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="is_enabled"
                                            v-model="createProduct.is_enabled">
                                        <label class="form-check-label" for="is_enabled">
                                            是否啟用
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="doCreateProduct">確認</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delProductModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content border-0">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <span>刪除產品</span>
                        </h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        是否刪除 <strong class="text-danger">{{deleteProduct.title}}</strong> 商品(刪除後將無法恢復)。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" @click="doDeleteProduct">確認刪除</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
        integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
        crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <script type="text/x-template" id="pagesTemplate">
        <nav aria-label="Page navigation ">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" @click="reducePage">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" :class="{active: page === 1}">
                  <a class="page-link" href="#" @click="$emit('goto-page', 1)">1</a>
                </li>
                <li class="page-item" :class="{active: page === 2}">
                    <a class="page-link" href="#" @click="$emit('goto-page', 2)">2</a>
                </li>
                <li class="page-item" :class="{active: page === 3}">
                    <a class="page-link" href="#" @click="$emit('goto-page', 3)">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" @click="addPage">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
          </nav>
    </script>

    <script>
        const WEB_APP_API = 'https://vue3-course-api.hexschool.io/';
        const WEB_APP_PATH = 'mick1031';

        const app = Vue.createApp({
            data() {
                return {
                    page: 1,
                    products: [],
                    deleteProduct: {},
                    createProduct: {

                    }
                };
            },
            methods: {
                getProduct() {
                    axios.get(`${WEB_APP_API}api/${WEB_APP_PATH}/admin/products?page=${this.page}`)
                        .then((response) => {
                            this.products = response.data.products;
                        })
                },
                setDeleteProduct(item) {
                    this.deleteProduct = item;
                },
                doCreateProduct() {
                    let data = { ...this.createProduct };
                    data.origin_price = parseInt(data.origin_price);
                    data.price = parseInt(data.price);

                    axios.post("https://vue3-course-api.hexschool.io/api/mick1031/admin/product", {
                        data
                    })
                        .then((response) => {
                            const { data } = response;
                            if (data.success) {
                                alert(data.message);

                                this.getProduct();
                                this.createProduct = {};

                                const productModal = bootstrap.Modal.getInstance(document.getElementById('productModal'));
                                productModal.hide();

                            } else {
                                alert(data.message);
                            }

                        }).catch((error) => {
                            console.log(error);
                        })
                },
                doDeleteProduct() {
                    axios.delete("https://vue3-course-api.hexschool.io/api/mick1031/admin/product/" + this.deleteProduct.id)
                        .then((response) => {
                            const delProductModal = bootstrap.Modal.getInstance(document.getElementById('delProductModal'));
                            delProductModal.hide();
                        })
                },
                gotoPage(page) {
                    this.page = page;
                },
            },
            watch: {
                page() { 
                    this.getProduct();
                }
            },
            created() {
                const token = document.cookie
                    .split('; ')
                    .find(row => row.startsWith('hexToken='))
                    .split('=')[1];

                axios.defaults.headers.common.Authorization = token;

                this.getProduct();
            }
        });
        app.component("pages", {
            template: "#pagesTemplate",
            props: [
                'page'
            ],
            methods: {
                reducePage() {
                    let myPage = this.page;
                    myPage--;
                    if (myPage < 1) {
                        myPage = 1;
                    }
                    this.$emit('goto-page', myPage);
                },
                addPage() {
                    let myPage = this.page;
                    myPage++;
                    if (myPage > 3) {
                        myPage = 3;
                    }
                    this.$emit('goto-page', myPage);
                },
            },
        });
        app.mount("#app");

    </script>

</body>

</html>